<h1></h1>
<html>
<head>
<link rel="stylesheets" href="stylesheets/margenes.css">	
</head>
<body>
<h3><b><u>Requerido en investigación:</u></b></h3>
<p>*Campo obligatorio</p>
<%=render "formnew"%>
</body>
</html>